{% extends 'generic/object.html' %}
{% load helpers %}           
{% load django_tables2 %}   

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">Icon Configuration</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Icon Class</th>
            <td><i class="mdi {{ object.icon_class }}"></i> <code>{{ object.icon_class }}</code></td>
          </tr>
          <tr>
            <th scope="row">Assigned To (Object Type)</th>
            <td>
              {% if object.content_type %}
                {{ object.content_type }}
              {% else %}
                <span class="text-muted">Global / Not Assigned</span>
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}